@import url(//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css);
@import url(//fonts.googleapis.com/css?family=Open+Sans:700,400,300);
@import url(//fonts.googleapis.com/css?family=Dorsa);
@import url(http://fonts.googleapis.com/css?family=Dosis:400,600);
/* =======================================================
					variables
======================================================== */
/*========================================================
										Main layout styles
=========================================================*/
body {
  background: #f6f6f7;
  font: 14px/24px Georgia, 'Times New Roman', Times, serif;
}
a {
  text-decoration: none;
  cursor: pointer;
  -webkit-transition: 0.3s all ease;
  transition: 0.3s all ease;
}
a:hover {
  -webkit-transition: 0.3s all ease;
  transition: 0.3s all ease;
}
a[href^="tel:"] {
  color: inherit;
  text-decoration: none;
}
h2 a,
h3 a,
h4 a,
h5 a {
  color: inherit;
  font: inherit;
}
h2 a:hover,
h3 a:hover,
h4 a:hover,
h5 a:hover {
  color: #d94d3a;
}
* {
  -webkit-text-size-adjust: none;
}
::-moz-selection {
  /* Code for Firefox */
  color: #ffffff;
  background: #666666;
}
::selection {
  color: #ffffff;
  background: #666666;
}
/*========================================================
										HEADER styles
=========================================================*/
#header {
  padding: 20px 0;
  background: url(../images/header_bg.jpg) no-repeat;
  background-size: cover;
  text-align: center;
  height: 570px;
}
#header .social {
  text-align: center;
}
#header .social .fa {
  width: 69px;
  height: 69px;
  background: #fff;
  line-height: 69px;
  margin: 0 35px 50px 35px;
  font-size: 38px;
  color: #423e3e;
  text-align: center;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
#header .social .fa:hover {
  background: #d94d3a;
}
#header h1 {
  color: #ffffff;
  margin-top: 15px;
}
#header h1 a {
  font: 400 150px/115px 'Dorsa', sans-serif;
  color: #ffffff;
  text-transform: uppercase;
  display: inline-block;
  height: 177px;
}
#header h1 a span {
  display: block;
  font: 30px/30px 'Dosis', sans-serif;
  margin-top: 28px;
  text-transform: none;
}
#header nav {
  margin-top: 53px;
}
.index #header {
  position: relative;
  background: none;
  height: 0;
  padding: 0;
}
.index #header #stuck_container {
  position: absolute;
  z-index: 9;
  left: 0;
  right: 0;
  top: 20px;
}
@media only screen and (max-width: 767px) {
  #header {
    text-align: center;
  }
  #header h1,
  #header nav {
    float: none;
    display: inline-block;
  }
  #header nav {
    display: block;
  }
  #header .social .fa {
    margin: 0 25px 50px 25px;
  }
}
@media only screen and (max-width: 480px) {
  #header .social .fa {
    margin: 0 5px 50px 5px;
  }
}
/* Main menu styles
========================================================*/
.sf-menu {
  width: 100%;
  text-align: center;
  line-height: 36px;
  margin-top: auto;
  margin-top: 32px;
  border-top: 2px solid #fff;
  padding-top: 50px;
  display: table;
}
.sf-menu > li {
  display: table-cell;
  table-layout: fixed;
  position: relative;
  padding: 0;
  margin: 0;
}
.sf-menu > li > a {
  color: #b5b2b2;
  font-size: 36px;
  margin-left: 29px;
  font-family: 'Dosis', sans-serif;
  margin-bottom: 30px;
  position: relative;
}
.sf-menu > li > a:hover {
  color: #ffffff;
}
.sf-menu > li > a:hover:before {
  background-position: 0 0;
  top: -46px;
  height: 21px;
}
.sf-menu > li > a:before {
  content: "";
  position: absolute;
  top: -52px;
  left: 37%;
  width: 38px;
  height: 12px;
  background: url(../images/menu-bullet.png) 0 -21px no-repeat;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.sf-menu > li:first-child {
  padding-right: 0;
}
.sf-menu > li.current > a {
  color: #ffffff;
}
.sf-menu > li.current > a:before {
  background-position: 0 0;
  top: -46px;
  height: 21px;
}
@media only screen and (max-width: 979px) {
  .sf-menu li {
    padding-right: 0;
  }
}

  }
}
/*Core variables and mixins*/
